@import "dist/_reseter";
@import "dist/_mixer";
@import "dist/_grid";
@import "dist/_brands";

//(2/5/15)	
//===================================================================
//======= Images
//===================================================================
img {
    width: auto;
    max-width: 100%;
    height: auto !important; 
}